<h1>Income & Savings First...</h1>



<%= render 'form' %>

<div class="column-wrapper">
  <div class="left-column">
  </div>
  <div class="center-column">
    <div id="ajax">
    </div>
  </div>
</div>
